/*--------Global--------*/

html {
    background-color: #e0f2f1;
}

h3 {
    font-family: 'Space Mono', monospace;
}

.container {
    margin: 0 auto;
}


/*--------Alerts--------*/

.alert {
    margin: 0;
    height: 2em;
    text-align: center;
}


/*--------Navbar/ index.html--------*/

nav {
    background-color: black;
}

.fa-thumb-tack {
    color: #80cbc4;
    font-size: 4rem;
}

#nav-gigBB {
    margin-left: 1em;
    font-size: 1.8rem;
}

.brand-logo {
    /*    font-family: 'Patrick Hand SC', cursive;
*/
    font-family: 'Codystar', cursive;
    font-weight: bold;
}

.mission {
    color: yellow;
    font-size: 20px;
    font-weight: bold;
}

ul.navlinks {
    font-family: 'Space Mono', monospace;
}

.divider {
    position: absolute;
    right: -1px;
    top: 2px;
}


/*--------Buttons--------*/

.btn {
    background-color: #00695c;
}


/*.deletebtn {
    background-color: red;
}*/


/*--------Users Listing--------*/

h1 {
    color: ;
}

#profilepic {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
}

.cardfront {
    color: white;
}

.nav-container {
    width: 100%;
}


/*------------404----------*/

#404 {
    background-color: #616161;
}


/*---teampic---*/

#teampic {
    background: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 1px;
    /*right: 1px;*/
    top: 0px;
    z-index: -1;
    padding: 0;
}

#collaboration {
    padding: 0;
    height: 600px;
}


/*----Rotating Quotes----*/

.quote {
    color: yellow;
    position: absolute;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
    text-align: center;
}

@-webkit-keyframes "quoteshift" {
    0% {
        opacity: 0;
    }
    2% {
        opacity: 1;
    }
    21% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.quote:nth-child(1) {
    -webkit-animation: quoteshift 16s 0s infinite linear;
}

.quote:nth-child(2) {
    -webkit-animation: quoteshift 16s 4s infinite linear;
}

.quote:nth-child(3) {
    -webkit-animation: quoteshift 16s 8s infinite linear;
}

.quote:nth-child(4) {
    -webkit-animation: quoteshift 16s 12s infinite linear;
}


/*-----------users.html--------*/

.more_vert {
    color: #1de9b6;
    font-size: 2.5em;
}


/*-----------Media Queries--------*/

@media
