/*--------Global--------*/

body {
    background-color: #b2dfdb;
}

main {
    min-height: 500px;
}

h3 {
    font-family: 'Space Mono', monospace;
    font-weight: bold;
}

.container {
    margin: 0 auto;
}


/*--------Alerts & 404 --------*/

.alert {
    margin: 0;
    height: 2em;
    text-align: center;
}

.fourOfour {
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
}


/*--------Navbar/ index.html--------*/

nav {
    background-color: black;
}

.fa-thumb-tack {
    color: #00bfa5;
    font-size: 4rem;
}

#nav-gigBB {
    margin-left: 1em;
    font-size: 1.8rem;
}

.brand-logo {
    /*    font-family: 'Patrick Hand SC', cursive;
*/
    font-family: 'Codystar', cursive;
    font-weight: bold;
}

.missiondiv {
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

#mission {
    color: rgba(175, 180, 43, 1);
    font-size: 25px;
    font-weight: bold;
    margin-top: 8em;
    z-index: 0;
    /*font-family: 'Shadows Into Light', cursive;*/
}

ul.navlinks {
    font-family: 'Space Mono', monospace;
}


/*--------Buttons--------*/

.btn {
    background-color: #00695c;
}


/*--------Users Listing--------*/

h1 {
    color: ;
}

#profilepic {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
}

.cardfront {
    color: white;
}

.nav-container {
    width: 100%;
}


/*------------404----------*/

#404 {
    background-color: #616161;
}


/*---teampic---*/

#teampic {
    /*background: cover;*/
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -10;
    padding: 0;
}

#collaboration {
    padding: 0;
    height: 70vw;
    object-fit: cover;
}


/*----Rotating Quotes----*/

.quote {
    position: absolute;
    width: 77%;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
    text-align: center;
}

.quote h4 {
    font-size: 50px;
    color: #e6ee9c;
    text-align: center;
}

@-webkit-keyframes "quoteshift" {
    0% {
        opacity: 0;
    }
    2% {
        opacity: 1;
    }
    21% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.quote:nth-child(1) {
    -webkit-animation: quoteshift 16s 0s infinite linear;
}

.quote:nth-child(2) {
    -webkit-animation: quoteshift 16s 4s infinite linear;
}

.quote:nth-child(3) {
    -webkit-animation: quoteshift 16s 8s infinite linear;
}

.quote:nth-child(4) {
    -webkit-animation: quoteshift 16s 12s infinite linear;
}


/*-----------users.html--------*/

.more_vert {
    color: #1de9b6;
    font-size: 2.5em;
}


/*-----------Footer--------*/

footer {
    position: initial;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0 1rem;
    background-color: #004d40;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.developers {
    color: #e0f2f1;
    font-size: .9em;
    font-family: 'Space Mono', monospace;
    text-align: left;
}

#copyright {
    text-align: left;
    font-size: .7em;
}

.social-icons {
    font-size: 3em;
}

.footer-icons {
    margin: 0 .3em;
    animation: pulse 5s infinite;
    color: #e0e0e0;
}

@keyframes pulse {
    33% {
        color: #757575;
    }
    66% {
        color: #e0e0e0;
    }
}


/*.fa:hover {
    color: #afb42b;
}*/


/*-----------Media Queries--------*/
