<!-- <div ng-controller="AlertCtrl">
    <uib-alert ng-repeat="alert in Alerts.get()" type="{{alert.type}}" close="Alerts.remove($index)" dismiss-on-timeout="9500">{{alert.msg}}</uib-alert>
</div>
 -->
<div ng-controller="AlertsController">
    <div ng-repeat="alert in alerts()">
        <div class="alert alert-danger" ng-if="alert.type == 'error'">
            {{ alert.msg }}
        </div>
        <div class="alert alert-success" ng-if="alert.type == 'success'">
            {{ alert.msg }}
        </div>
    </div>
</div>
