<!-- Edit Project Page -->
<div class="row">
    <form class="col s12" ng-submit="updateProject()">
        <h3>Edit A Project</h3>
        <!-- Name of Project-->
        <div class="row">
            <div class="input-field col s12">
                <input type="text" class="validate" id="name" ng-model="project.name" required>
                <label class="active" for="name">Name of Project</label>
            </div>
        </div>
        <!-- Description -->
        <div class="row">
            <div class="input-field col s12">
                <textarea type="text" class="validate" id="description" ng-model="project.description" required></textarea>
                <label class="active" for="description">Description</label>
            </div>
        </div>
        <!-- Due Date -->
        <div class="row">
            <div class="input-field col s12">
                <input type="date" class="validate" id="date" ng-model="project.dueDate" required>
                <label class="active" for="dueDate">Due Date</label>
            </div>
        </div>
        <!-- User ID -->
        <!-- This is unnecessary because it will be submitted according to the user based on their login -->
        <!-- <div class="row">
            <div class="input-field col s12">
                <input type="text" class="validate" id="userId" ng-model="project.userId">
                <label class="active" for="userId">User Id</label>
            </div>
        </div> -->
        <!-- Tech Requested -->
        <div class="row">
            <div class="input-field col s12">
                <input type="text" class="validate" id="techReq" ng-model="project.techReq" required>
                <label class="active" for="techReq">Requested Technologies</label>
            </div>
        </div>
        <!-- Show to Public -->
        <!-- <div class="row">
            <div class="input-field col s12">
            <input type="checkbox" id="showPublic" placeholder="showPublic" ng-model="project.showPublic">
            <label for="showPublic">Show to Public</label>
            </div>
        </div> -->
        <!-- Submit Button -->
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit Edits
            <i class="material-icons right">mode_edit</i>
        </button>
    </form>
</div>
