<div class="row">
    <form class="col s12" ng-submit="updateUser()">
        <h3>Edit your User Information</h3>
        <!-- First Name -->
        <div class="row">
            <div class="input-field col s12">
                <input type="text" class="validate" id="firstName" ng-model="user.firstName" required>
                <label class="active" for="firstName">First Name</label>
            </div>
        </div>
        <!-- Last Name -->
        <div class="row">
            <div class="input-field col s12">
                <input type="text" class="validate" id="lastName" ng-model="user.lastName" required>
                <label class="active" for="lastName">Last Name</label>
            </div>
        </div>
        <!-- Phone -->
        <div class="row">
            <div class="input-field col s12">
                <input type="text" class="validate" id="phone" ng-model="user.phone">
                <label class="active" for="phone">Phone</label>
            </div>
        </div>
        <!-- User's Link to Portfolio Page -->
        <div class="row">
            <div class="input-field col s12">
                <input type="text" class="validate" id="link" ng-model="user.link">
                <label class="active" for="link">Portfolio Link</label>
            </div>
        </div>
        <!-- Email -->
        <div class="row">
            <div class="input-field col s12">
                <input type="email" class="validate" id="email" ng-model="user.email" required>
                <label class="active" for="email" data-error="invalid email address" data-success="OK">Email</label>
            </div>
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit Edits
            <i class="material-icons right">mode_edit</i>
        </button>
    </form>
</div>
