<!-- *** Jade Added this file -->
<!-- <h3 class="center-align">Connecting project owners and developers.</h3>
 -->
<!-- <h4>Connect with project owners and developers.</h4> -->
<!-- <h4>Show your work.</h4> -->
<!-- <h4>Post your project.</h4> -->
<!-- <h4>Streamline workflow.</h4> -->
<!-- <p>Add splash content during materialize step</p> -->
<!-- quotes start -->
<div class="quote center">
    <h3 class="center"><span>Show your work.</span></h3>
</div>
<div class="quote">
    <h3 class="center"><span>Post your project.</span></h3>
</div>
<div class="quote">
    <h3 class="center"><span>Streamline workflow.</span></h3>
</div>
<div class="quote">
    <h3 class="center"><span>Connecting project owners and developers.</span></h3>
</div>
<!-- quotes end -->
<div class="row" id="teampic">
    <img class="col l12 bottom" src="img/collaboration.jpg " alt="team ">
    <!-- <img class=" col l12 top" src="cacti.jpg" alt="cacti">
 -->
</div>
