<!-- *** Jade Added this file -->
<!-- <h4 class="center-align">Connecting project owners and developers.</h4>
 -->
<!-- <h4>Connect with project owners and developers.</h4> -->
<!-- <h4>Show your work.</h4> -->
<!-- <h4>Post your project.</h4> -->
<!-- <h4>Streamline workflow.</h4> -->
<!-- <p>Add splash content during materialize step</p> -->
<!-- quotes start -->

<body class="homepage">
    <div>
        <div class="quote">
            <h4 class="center"><span>Connecting projects with developers</span></h4>
        </div>
        <div class="quote">
            <h4 class="center"><span>Post a project.</span></h4>
        </div>
        <div class="quote">
            <h4 class="center"><span>Build your portfolio.</span></h4>
        </div>
        <div class="quote">
            <h4 class="center"><span>Create relationships.</span></h4>
        </div>
    </div>
    <p class="mission center">Building community by connecting small-businesses with local talent</p>
    <!-- quotes end -->
    <div class="row" id="teampic">
        <img class="col l12 m12 s12 bottom" id="collaboration" src="img/collaboration.jpg " alt="team ">
    </div>
</body>
