<!-- This is the bulletin board for projects listings -->
<h1>Gig Bulletin Board</h1>
<a href="/projects/new" class="btn btn-success">New Project</a>
<div class="form-group">
    <label for="search">Search</label>
    <input type="text" class="form-control" id="search" ng-model="search">
</div>
<div class="well" ng-repeat="project in projects | filter:{name:search} track by project._id">
    <!-- Add project owner -->
    <h3>Project: {{project.name}}</h3>
    <p>Description: {{project.description}} </p>
    <h5>Tech Required: {{project.techReq}}</h5>
    <h2>Project Owner: {{ project.owner }}</h2>
    <!-- <h7>User Id: {{ project.userId }}</h7> -->
    <br>
    <!--     <p>**Comment out edit/delete this is public**</p> -->
    <a target="_blank" ng-href="/projects/{{project._id}}">Project Details</a>
    <!-- <a ng-href="/projects/edit/{{project._id}}">Edit Project Details</a>
    <a ng-click="deleteProject(project._id, $index)" class="btn btn-danger glyphicon glyphicon-trash pull-right"></a> -->
</div>
