<!-- This is the page when the user clicks on a project from Bulletin Board and want to learn more -->
<h3 class="center-align">Project Details</h3>
<div class="divider"></div>
<div class="section">
    <h5>Project: {{project.name}}</h5>
    <h6>Project owner: {{ project.owner }}</h6>
    <h6>Project description: {{project.description}}</h6>
    <h6>Project due date: {{project.dueDate | date}}</h6>
    <h6>Technologies Requested: {{project.techReq}}</h6>
</div>
<div class="divider"></div>
<div class="section">
    <a class="btn waves-effect waves-light" href="/projects">Back to Bulletin Board<i class="material-icons left">skip_previous</i></a>
</div>
