<h3 class="center-align">Your User Profile</h3>
<div class="divider"></div>
<div class="section">
    <h5>User: {{user.firstName}} {{user.lastName}}</h5>
    <h6>Phone: {{user.phone}}</h6>
    <h6>Email: {{user.email}}</h6>
    <h5>Portfolio Link: <a target="_blank" ng-href="{{user.link}}">{{user.link}}</a></h5>
</div>
<div class="divider"></div>
<div class="section">
    <a class="btn waves-effect waves-light" ng-href="/users/edit/{{user._id}}" ng-show="isCurrentUser(user._id)">Edit User Profile
        <i class="large material-icons">mode_edit</i></a>
</div>
<div class="divider"></div>
<div class="section">
    <a class="btn waves-effect waves-light" href="/users">Back to Users Listing<i class="material-icons left">skip_previous</i></a>
</div>
<div class="divider"></div>
<!-- This is the projects listings for this user -->
<h4 class="center-align">Your Projects</h4>
<div class="divider"></div>
<div class="section">
    <a href="/projects/new" class="btn waves-effect waves-light">Add A Project<i class="material-icons right">note_add</i></a>
</div>
<div class="divider"></div>
<div class="section">
    <div class="row">
        <div class="input-field col s12">
            <input type="text" class="validate" id="search" ng-model="search">
            <label for="search">Search Projects</label>
        </div>
    </div>
</div>
<div class="divider"></div>
<div class="section" ng-repeat="project in projects | filter:{userId:user._id} | filter:{name:search} track by project._id">
    <h5>Project: {{project.name}}</h5>
    <h6>Description: {{project.description}}</h6>
    <h6>Project due date: {{project.dueDate | date}}</h6>
    <h6>Tech Required: {{project.techReq}}</h6>
    <div class="section">
        <a class="btn waves-effect waves-light" ng-href="/projects/{{project._id}}">Show Project Details<i class="material-icons right">assignment</i></a>
    </div>
    <div class="section">
        <a class="btn waves-effect waves-light" ng-href="/projects/edit/{{project._id}}">Edit Project Details<i class="material-icons right">mode_edit</i></a>
    </div>
    <div class="section">
        <a class="btn waves-effect waves-light" ng-click="deleteProject(project._id, $index)">Delete Project<i class="material-icons right">delete</i></a>
    </div>
    <div class="divider"></div>
</div>
