<div class="row">
    <form class="col s12" ng-submit="userLogin()">
        <h3>Login</h3>
        <!-- Email -->
        <div class="row">
            <div class="input-field col s12">
                <input type="email" class="validate" id="email" ng-model="user.email" required>
                <label for="email" data-error="invalid email address" data-success="OK">Email</label>
            </div>
        </div>
        <!-- Password -->
        <div class="row">
            <div class="input-field col s12">
                <input type="password" class="validate" id="password" ng-model="user.password" required>
                <label for="password">Password</label>
            </div>
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">Login
            <i class="material-icons right">send</i>
        </button>
    </form>
</div>
