<h3 class="center-align">Users Listing</h3>
<div class="divider"></div>
<div class="section">
    <div class="row">
        <div class="input-field col s12">
            <input type="text" class="validate" id="search" ng-model="search">
            <label for="search">Search</label>
        </div>
    </div>
</div>
<div class="divider"></div>
<div class="section" ng-repeat="user in users | filter:{firstName:search} track by user._id">
    <div class="card card-panel teal lighten-3">
        <img class="activator" id="profilepic" src="img/profile.png" alt="profile pic">
        <div class="card-content">
            <h3 class="cardfront center">User: {{user.firstName}} {{user.lastName}}</h3>
            <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i></span>
        </div>
        <div class="card-reveal card-panel teal lighten-5">
            <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i></span>
            <h4>Email: {{user.email}} </h4>
            <h4>Portfolio Link: <a target="_blank" ng-href="{{user.link}}">{{user.link}}</a></h4>
            <div class="section">
                <a class="btn waves-effect waves-light" ng-href="/users/{{user._id}}">User Details<i class="material-icons right">assignment_ind</i></a>
            </div>
        </div>
    </div>
    <div class="divider"></div>
</div>
<!-- <a ng-href="/users/edit/{{user._id}}">Edit User Details</a>
 -->
<!-- <a ng-click="deleteUser(user._id, $index)" class="btn btn-danger glyphicon glyphicon-trash pull-right"></a>
 -->
