<div class="row">
    <form class="col s12" ng-submit="userSignup()">
        <h3>Signup<h3>
        <!-- First Name -->
        <div class="row">
            <div class="input-field col s12">
                <input type="text" class="validate" id="firstName" ng-model="user.firstName" required>
                <label for="firstName">First Name</label>
            </div>
        </div>
        <!-- Last Name -->
        <div class="row">
            <div class="input-field col s12">
                <input type="text" class="validate" id="lastName" ng-model="user.lastName" required>
                <label for="lastName">Last Name</label>
            </div>
        </div>
        <!-- Phone -->
        <div class="row">
            <div class="input-field col s12">
                <input type="text" class="validate" id="phone" ng-model="user.phone" required>
                <label for="phone">Phone</label>
            </div>
        </div>
        <!-- User's Link to Portfolio Page -->
        <div class="row">
            <div class="input-field col s12">
                <input type="text" class="validate" id="link" ng-model="user.link" required>
                <label for="link">Portfolio Link</label>
            </div>
        </div>
        <!-- Email -->
        <div class="row">
            <div class="input-field col s12">
                <input type="email" class="validate" id="email" ng-model="user.email" required>
                <label for="email" data-error="invalid email address" data-success="OK">Email</label>
            </div>
        </div>
        <!-- Password -->
        <div class="row">
            <div class="input-field col s12">
                <input type="password" class="validate" id="password" ng-model="user.password" required>
                <label for="password">Password</label>
            </div>
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">Signup
            <i class="material-icons right">send</i>
        </button>
    </form>
</div>
