<!-- This is the bulletin board for projects listings -->
<h1>Users Index Listing</h1>
<div class="form-group">
    <label for="search">Search</label>
    <input type="text" class="form-control" id="search" ng-model="search">
</div>
<div class="well" ng-repeat="user in users | filter:{firstName:search} track by user._id">
    <h1>{{user.firstName}} {{user.lastName}} </h1>
    <h3>{{user.email}} </h3>
    <p>{{user._id}}</p>
    <a ng-href="/users/{{user._id}}">Show User Details?</a>
    <a ng-click="deleteUser(user._id, $index)" class="btn btn-danger glyphicon glyphicon-trash pull-right"></a>
</div>
